* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  letter-spacing: 1.2px;
  background-color: hsl(222, 26%, 31%);
}
body.active {
  background-color: hsl(0, 0%, 90%);
}
button {
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1.1px;
  font-family: "League Spartan", sans-serif;
}

/* 
---------------------------------
      conatiner styling
---------------------------------
*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 350px;
  position: relative;
  left: 50%;
  margin-left: -175px;
}

/* 
-------------------------------------
      header conatiner styling
-------------------------------------
*/
.header-container {
  width: 100%;
  display: flex;
  color: hsl(30, 25%, 89%);
  font-size: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 4px;
}
.active .header-container {
  color: hsl(224, 28%, 35%);
}

.calc-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsla(0, 0%, 90%, 0.882);
  font-size: 10px;
}
.active .calc-theme {
  color: hsl(224, 28%, 35%);
}
.calc-theme span {
  margin: 0px 10px;
  letter-spacing: 1.2px;
}

/* theme toggle button styling  */
.toggle {
  display: flex;
  justify-content: flex-start;
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  border-radius: calc(25px / 2);
  box-shadow: inset 0px -2px 2px hsl(222, 26%, 17%);
  background-color: hsl(224, 36%, 15%);
}
.active .toggle {
  justify-content: flex-end;
  background-color: hsl(224, 36%, 15%);
  box-shadow: inset 0px -2px 4px hsl(222, 26%, 31%);
}
.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: scale(0.7);
  background-color: hsl(45, 7%, 89%);
  box-shadow: inset -2px -2px 2px hsl(0, 5%, 81%);
}
.active .indicator {
  background-color: hsl(45, 7%, 89%);
  box-shadow: inset -2px -2px 2px hsl(0, 5%, 81%);
}
/* 
-----------------------------------
     input conatiner styling
-----------------------------------
*/
.input-container {
  width: 100%;
  height: 120px;
  margin: 10px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(224, 36%, 15%);
}
.active .input-container {
  background-color: hsl(0, 0%, 93%);
  box-shadow: 2px 2px 16px 1px rgba(0, 0, 0, 0.2);
  color: hsl(224, 36%, 15%);
}
.prev-expression,
.curr-expression {
  width: 100%;
  height: 50%;
  padding: 10px 15px 15px;
  color: hsl(0, 0%, 90%);
  display: flex;
  justify-content: right;
  align-items: flex-end;
  font-size: 30px;
  overflow: hidden;
}

.prev-expression {
  font-size: 20px;
  opacity: 0.7;
}
.active .prev-expression,
.active .curr-expression {
  color: hsl(60, 10%, 19%);
}

/* 
-----------------------------------
     main conatiner styling
-----------------------------------
*/
.main-container {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  background-color: hsl(223, 31%, 20%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.active .main-container {
  background-color: hsl(0, 5%, 81%);
}
.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px;
}
.cell,
#delete,
.operator {
  width: 70px;
  height: 45px;
  color: hsl(222, 26%, 31%);
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0px 5px hsl(35, 11%, 61%);
}
.active .calc-grid button {
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0px 5px hsl(35, 11%, 61%);
}
.calc-button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
.button-cell {
  width: 150px;
  height: 40px;
  /* font-size: 18px; */
  margin: 10px 0px;
  border-radius: 10px;
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0px 5px hsl(28, 16%, 65%);
}

#delete,
#reset {
  color: hsl(0, 0%, 90%);
  background-color: rgb(106, 119, 158);
  box-shadow: 0px 5px hsl(224, 28%, 35%);
}

#delete:hover,
#reset:hover {
  background-color: rgb(122, 134, 171);
}
.active #delete,
.active #reset {
  color: hsl(0, 0, 100%);
  background-color: hsl(185, 44%, 38%);
  box-shadow: 0px 5px hsl(185, 56%, 31%);
}

#evaluate {
  color: hsl(0, 0%, 90%);
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0px 5px hsl(6, 70%, 34%);
}
.active #evaluate {
  color: white;
  background-color: hsl(25, 100%, 58%);
  box-shadow: 0px 5px hsl(25, 99%, 27%);
}

/* 
-------------------------------------
     hovering and active states 
-------------------------------------
*/
button:hover,
.active button:hover {
  background-color: hsl(0, 0%, 100%);
}

.active #delete:hover,
.active #reset:hover {
  background-color: hsl(186, 44%, 51%);
}
#evaluate:hover {
  background-color: hsl(6, 96%, 67%);
}
.active #evaluate:hover {
  background-color: hsl(25, 98%, 65%);
}

/* common animation on active state  */
button:active,
.active button:active,
#delete:active,
#evaluate:active,
#reset:active {
  transform: translateY(3px);
  box-shadow: none;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  color: hsl(0, 5%, 81%);
  letter-spacing: 1.5px;
  word-spacing: 2px;
  flex-wrap: wrap;
}
.active .attribution {
  text-decoration: none;
  color: hsl(222, 26%, 17%);
}

a:hover {
  text-decoration: underline;
}
a {
  margin-left: 5px;
  text-decoration: none;
  color: hsl(25, 100%, 58%);
}
.active a {
  color: hsl(185, 44%, 38%);
}
/* 
--------------------------------------
         adding media query
-------------------------------------- 
*/
@media (max-width: 760px) {
  .container {
    width: 280px;
    margin-left: -140px;
  }
  .input-container {
    height: 100px;
  }
  .cell,
  #delete,
  .operator {
    width: 55px;
    height: 30px;
    font-size: 16px;
  }
  .button-cell {
    width: 120px;
    height: 35px;
    font-size: 16px;
  }
}
